//SETTINGS
@import "./settings/reset";
@import "./settings/colors";
@import "./settings/fonts";
@import "./settings/mixins";
//SECTIONS
@import "./header";
@import "./program";
@import "./route";
@import "./gallery";
@import "./schedule";
@import "./price";
@import "./choice";
@import "./information";

* {
  font-family: "Inter", sans-serif;
  color: $black;
}

.container {
  @include container(1290px);
  padding: 0 5px;
  margin: 0 auto;
}

.progress {
  width: 162px;
  height: 2px;
  background-color: rgba($gray, 0.3);
  position: relative;
  z-index: 1;

  &__program {
    &:after {
      content: '';
      z-index: 2;
      position: absolute;
      left: 0;
      width: 18px;
      height: 2px;
      background-color: $red;
    }
  }

  &__route {
    &:after {
      content: '';
      z-index: 2;
      position: absolute;
      left: 0;
      width: calc(18px * 2);
      height: 2px;
      background-color: $red;
    }
  }

  &__gallery {
    &:after {
      content: '';
      z-index: 2;
      position: absolute;
      left: 0;
      width: calc(18px * 3);
      height: 2px;
      background-color: $red;
    }
  }

  &__schedule {
    &:after {
      content: '';
      z-index: 2;
      position: absolute;
      left: 0;
      width: calc(18px * 4);
      height: 2px;
      background-color: $red;
    }
  }

  &__price {
    &:after {
      content: '';
      z-index: 2;
      position: absolute;
      left: 0;
      width: calc(18px * 5);
      height: 2px;
      background-color: $red;
    }
  }

  &__choice {
    &:after {
      content: '';
      z-index: 2;
      position: absolute;
      left: 0;
      width: calc(18px * 6);
      height: 2px;
      background-color: $red;
    }
  }

  &__information {
    &:after {
      content: '';
      z-index: 2;
      position: absolute;
      left: 0;
      width: calc(18px * 7);
      height: 2px;
      background-color: $red;
    }
  }
}

.section__title {
  @include typography($fz_24, $fw_600)
}