//SETTINGS
@import "./settings/reset";
@import "./settings/colors";
@import "./settings/fonts";
@import "./settings/mixins";
@import "./settings/proccess";
//SECTIONS
@import "./header";
@import "./program";
@import "./route";
@import "./gallery";
@import "./schedule";
@import "./price";
@import "./choice";
@import "./information";
@import "./reviews";
@import "./more";
@import "./footer";


* {
  font-family: "Inter", sans-serif;
  color: $black;
}

.container {
  @include container(1290px);
  padding: 0 5px;
  margin: 0 auto;
}

.main {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section {
  padding: 40px 0;
}

.section__title {
  @include typography($fz_24, $fw_600)
}


@media only screen and (max-width: 1300px) {
  .container {
    @include container(1034px);
  }
}

@media only screen and (max-width: 1034px) {
  .container {
    @include container(834px);
  }
}

@media only screen and (max-width: 834px) {
  .container {
    @include container(764px);
  }
  .main {
    margin-top: 0;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    @include container(100%);
    padding: 0 16px;
    margin: 0 auto;
  }

  .section {
    padding: 0;
  }

  .section__title {
    text-transform: uppercase;
    @include typography($fz_16, $fw_600)
  }
}

