//SETTINGS
@import "./settings/reset";
@import "./settings/colors";
@import "./settings/fonts";
@import "./settings/mixins";
//SECTIONS
@import "./header";
@import "./program";
@import "./route";
@import "./gallery";
@import "./schedule";
@import "./price";
@import "./choice";
@import "./information";
@import "./reviews";
@import "./more";
@import "./footer";




* {
  font-family: "Inter", sans-serif;
  color: $black;
}

.container {
  @include container(1290px);
  padding: 0 5px;
  margin: 0 auto;
}

.main {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section {
  padding: 40px 0;
}

.section__title {
  @include typography($fz_24, $fw_600)
}

.progress {
  width: 162px;
  height: 2px;
  background-color: rgba($gray, 0.3);
  position: relative;
  z-index: 1;

  &__program {
   @include progress_line($red, 1);
  }

  &__route {
    @include progress_line($red, 2);
  }

  &__gallery {
    @include progress_line($red, 3);
  }

  &__schedule {
    @include progress_line($red, 4);
  }

  &__price {
    @include progress_line($red, 5);
  }

  &__choice {
    @include progress_line($red, 6);
  }

  &__information {
    @include progress_line($red, 7);
  }

  &__reviews {
    @include progress_line($red, 8);
  }

  &__more {
    @include progress_line($red, 9);
  }
}

@media only screen and (max-width: 1300px) {
  .container {
    @include container(1034px);
  }
}

@media only screen and (max-width: 1034px) {
  .container {
    @include container(834px);
  }
}

@media only screen and (max-width: 834px) {
  .container {
    @include container(764px);
  }
  .main {
    margin-top: 0;
  }
}

@media only screen and (max-width: 665px) {
  .container {
    @include container(100%);
    padding: 0 16px;
    margin: 0 auto;
  }

  .section {
    padding: 0;
  }

  .section__title {
    text-transform: uppercase;
    @include typography($fz_16, $fw_600)
  }
}

