@charset "UTF-8";
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.header {
  background-image: url("../images/background_header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  max-width: 100%;
  height: auto;
  padding: 30px 0 21px 0;
}
.header__content {
  display: flex;
  flex-direction: column;
}
.header__content-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.header__content-middle {
  margin-top: 77px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}
.header__content-bottom {
  margin-top: 23px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header__logo {
  max-width: 100%;
  height: auto;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.header__navigation-item {
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
}
.header__navigation-button {
  font-size: 16px;
  font-weight: 500;
  color: #4DD2A3;
}
.header__panel {
  display: flex;
  align-items: center;
  gap: 22px;
}
.header__panel-icon {
  width: 22px;
  height: 22px;
}
.header__panel-language {
  font-size: 12px;
  font-weight: 400;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}
.header__panel-user {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 1px solid #FFFFFF;
  padding: 4px 4px 5px 4px;
}
.header__select {
  height: 22px;
  width: 68px;
  padding: 3px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #FFFFFF;
}
.header__select-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.header__select-arrow {
  cursor: pointer;
}
.header__select-text {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header__information {
  max-width: 667px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.header__information-list {
  display: flex;
  gap: 24px;
}
.header__information-item {
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  padding: 2.5px 8.5px;
  color: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #FFFFFF;
}
.header__information-title {
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 120%;
}
.header__information-button {
  margin-top: 5px;
  padding: 27px 27px 26px 31px;
  border-radius: 100%;
  border: 1px solid #FFFFFF;
  background: rgba(255, 255, 255, 0.2);
}
.header__links {
  max-width: 54px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 46px;
}
.header__links-text {
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
}
.header__links-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.header__links-item {
  cursor: pointer;
  width: 31px;
  height: 31px;
}
.header__description {
  display: flex;
  gap: 48px;
}
.header__description-item {
  display: inline-block;
}
.header__description-title {
  font-size: 40px;
  font-weight: 800;
  color: #FFFFFF;
}
.header__description-text {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
}
.header__description-level {
  padding: 12px 0 10px 0;
  display: flex;
  align-items: flex-end;
  gap: 3px;
}
.header__description-column {
  height: 28px;
  width: 11px;
  border: 1px solid #FFFFFF;
  border-radius: 1.5px;
}
.header__description-column:first-child {
  height: 11px;
}
.header__description-column:nth-child(2) {
  height: 20px;
}
.header__describe {
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
}
.header__describe-color {
  color: #4DD2A3;
}
.header__button {
  font-size: 16px;
  font-weight: 500;
  padding: 10.5px 29.5px;
  background-color: #4DD2A3;
  color: #FFFFFF;
  border-radius: 4px;
  transition: 0.3s;
}
.header__button:hover {
  background-color: #2BBF8B;
  transition: 0.3s ease-in-out;
}

.active__description-column {
  background-color: #FFFFFF;
}

.program {
  margin-top: 56px;
}
.program__top {
  margin: 24px 0 33px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}
.program__middle {
  padding: 13px 0;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.program__bottom {
  margin-top: 43px;
}
.program__information {
  display: flex;
  max-width: 820px;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.program__information-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.program__information-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
.program__way {
  height: auto;
  max-width: 398px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  background-color: #F9F9F9;
}
.program__way-text {
  line-height: 140%;
  font-size: 16px;
  font-weight: 400;
}
.program__way-color {
  font-size: 16px;
  font-weight: 400;
  color: #7E869A;
}
.program__background {
  background-color: #F9F9F9;
  border-bottom: 1px solid rgba(126, 134, 154, 0.2);
}
.program__list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.program__list-item {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: #7E869A;
}
.program__active {
  color: #222222;
}
.program__panel {
  display: flex;
  align-items: center;
  gap: 40px;
}
.program__panel-text {
  font-size: 16px;
  font-weight: 600;
  color: #7E869A;
}
.program__panel-color {
  color: #4DD2A3;
}
.program__conditions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}
.program__conditions-item {
  max-width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.program__conditions-img {
  width: 30px;
  height: auto;
}
.program__conditions-level {
  padding-top: 10px;
  display: flex;
  align-items: flex-end;
  gap: 3px;
}
.program__conditions-column {
  height: 20px;
  width: 8px;
  border: 1px solid #7E869A;
  border-radius: 1.1px;
}
.program__conditions-column:first-child {
  height: 8px;
}
.program__conditions-column:nth-child(2) {
  height: 15px;
}
.program__conditions-title {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #7E869A;
  text-transform: uppercase;
}
.program__conditions-text {
  line-height: 140%;
  font-size: 16px;
  font-weight: 400;
}
.program__button-favorites {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #4DD2A3;
}
.program__button-download {
  font-size: 16px;
  font-weight: 500;
  padding: 7.5px 17.5px;
  border: 1px solid #4DD2A3;
  color: #4DD2A3;
  border-radius: 4px;
  transition: 0.3s;
}
.program__button-download:hover {
  color: #2BBF8B;
  border-color: #2BBF8B;
  transition: 0.3s ease-in-out;
}
.program__button-order {
  font-size: 16px;
  font-weight: 500;
  padding: 7.5px 25.5px;
  background-color: #4DD2A3;
  color: #FFFFFF;
  border-radius: 4px;
  transition: 0.3s;
}
.program__button-order:hover {
  background-color: #2BBF8B;
  transition: 0.3s ease-in-out;
}
.program__button-photo {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 500;
  padding: 7.5px 25.5px;
  border: 1px solid #4DD2A3;
  color: #4DD2A3;
  border-radius: 4px;
  transition: 0.3s;
}
.program__button-photo:hover {
  color: #2BBF8B;
  border-color: #2BBF8B;
  transition: 0.3s ease-in-out;
}

.active__conditions-column {
  background-color: #7E869A;
}

.route {
  margin-top: 110px;
}
.route__content {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.route__information {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.route__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 794px;
  width: 100%;
}
.route__list-item {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}
.route__list-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
.route__image {
  border-radius: 4px;
}

.gallery {
  margin-top: 162px;
}
.gallery__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.gallery__list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 280px;
  gap: 8px;
}
.gallery__list-item {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.gallery__list-item:last-child:before {
  font-size: 45px;
  font-weight: 400;
  content: "+24";
  max-width: 419px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(34, 34, 34, 0.5);
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  z-index: 2;
}
.gallery__list-image {
  border-radius: 4px;
}

.schedule {
  margin-top: 162px;
}
.schedule__content-top {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 1040px;
  width: 100%;
}
.schedule__list {
  display: flex;
  flex-direction: column;
  max-width: 1040px;
  width: 100%;
  gap: 2px;
}
.schedule__list-item {
  display: grid;
  grid-template-columns: 100px 1fr 17px;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgba(126, 134, 154, 0.2);
  border-radius: 2px;
  gap: 16px;
  padding: 16px 24px;
}
.schedule__list-title {
  font-size: 16px;
  font-weight: 600;
}
.schedule__list-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
.schedule__list-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 100%;
  width: 100%;
}
.schedule__list-day {
  font-size: 16px;
  font-weight: 400;
  color: #7E869A;
}
.schedule__button-list {
  align-self: flex-end;
  font-size: 16px;
  font-weight: 400;
  color: #7E869A;
}
.schedule__button-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  color: #7E869A;
}

.price {
  margin-top: 162px;
}
.price__content {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.price__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.price__lists {
  margin-top: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}
.price__lists-column {
  max-width: 570px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.price__lists-top {
  display: flex;
  align-items: center;
  gap: 12px;
}
.price__lists-title {
  font-size: 16px;
  font-weight: 600;
  color: #7E869A;
  text-transform: uppercase;
}
.price__lists-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.price__lists-first :before {
  content: "—";
  color: #4DD2A3;
}
.price__lists-last :before {
  content: "—";
  color: #FF0002;
}

.card {
  max-width: 414px;
  width: 100%;
  height: 424px;
  padding: 40px;
  border-radius: 6px;
  box-shadow: 0 4px 24px 0 rgba(34, 34, 34, 0.06);
}
.card__top {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}
.card__top-title {
  line-height: 140%;
  font-size: 24px;
  font-weight: 600;
}
.card__top-text {
  line-height: 140%;
  color: #7E869A;
  font-size: 12px;
  font-weight: 400;
}
.card__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
}
.card__line {
  max-width: 182px;
  width: 100%;
  height: 1px;
  background-color: rgba(126, 134, 154, 0.2);
}
.card__price {
  font-size: 30px;
  font-weight: 600;
  color: #4DD2A3;
}
.card__description {
  font-size: 12px;
  font-weight: 400;
  max-width: 140px;
  width: 100%;
  line-height: 140%;
}
.card__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  text-align: center;
}
.card__list-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
.card__first {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 34px;
}
.card__first-old {
  line-height: 140%;
  color: #7E869A;
  text-decoration: line-through;
}
.card__first-price {
  line-height: 140%;
  color: #7E869A;
  font-size: 16px;
  font-weight: 400;
}
.card__first-bottom {
  margin-top: 46px;
}
.card__first-conditions {
  display: flex;
  align-items: center;
  gap: 8px;
}
.card__first-span {
  font-size: 12px;
  font-weight: 400;
  color: #4DD2A3;
}
.card__last {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 22px;
}
.card__last-middle {
  margin-top: 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 17px;
}
.card__last-bottom {
  margin-top: 22px;
}
.card__color {
  color: #4DD2A3;
}
.card__accent {
  font-size: 16px;
  font-weight: 600;
}

.choice {
  margin-top: 162px;
}
.choice__content {
  margin-top: 24px;
}
.choice__table {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}
.choice__table-header {
  padding: 29px 24px;
  display: grid;
  width: 100%;
  grid-template-columns: 120px 470px 92px 92px 173px;
  justify-content: space-between;
  box-shadow: 0 4px 24px 0 rgba(34, 34, 34, 0.06);
  border-radius: 6px;
}
.choice__table-title {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
.choice__table-title:nth-child(2) {
  padding-left: 70px;
}
.choice__table-row {
  display: grid;
  padding: 29px 24px;
  grid-template-columns: 114px 470px 92px 92px 173px;
  box-shadow: 0 4px 24px 0 rgba(34, 34, 34, 0.06);
  border-radius: 2px;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.choice__table-date {
  font-size: 16px;
  font-weight: 400;
}
.choice__table-information {
  display: flex;
  align-items: center;
  gap: 16px;
}
.choice__table-image {
  width: 64px;
  height: 64px;
  border-radius: 100%;
}
.choice__table-place {
  justify-self: center;
}
.choice__table-line {
  display: inline-block;
  width: 10px;
  height: 1px;
  background: #222222;
}
.choice__table-old {
  line-height: 140%;
  color: #7E869A;
  font-size: 16px;
  font-weight: 400;
  text-decoration: line-through;
}
.choice__table-new {
  font-size: 16px;
  font-weight: 600;
}
.choice__table-lastdate {
  line-height: 140%;
  color: #7E869A;
  font-size: 16px;
  font-weight: 400;
}
.choice__table-button {
  font-size: 16px;
  font-weight: 500;
  padding: 7.5px 25px;
  background-color: #4DD2A3;
  color: #FFFFFF;
  border-radius: 4px;
  transition: 0.3s;
}
.choice__table-button:hover {
  background-color: #2BBF8B;
  transition: 0.3s ease-in-out;
}
.choice__table-name {
  font-size: 20px;
  font-weight: 400;
  color: #4DD2A3;
  line-height: 140%;
}
.choice__table-red {
  color: #FF0002;
}

.information {
  margin-top: 162px;
}
.information__content {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.information__list {
  display: flex;
  flex-direction: column;
  max-width: 1040px;
  width: 100%;
  gap: 2px;
}
.information__list-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: auto;
  border-bottom: 1px solid rgba(126, 134, 154, 0.2);
  border-radius: 2px;
  padding: 16px 24px;
}
.information__list-top {
  display: grid;
  grid-template-columns: 1fr 17px;
  align-items: center;
}
.information__list-title {
  font-size: 16px;
  font-weight: 600;
  color: #7E869A;
  text-transform: uppercase;
}
.information__list-content {
  max-width: 950px;
  width: 100%;
}
.information__list-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
.information__module {
  margin-top: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.information__module-content {
  padding: 24px 13px;
  box-shadow: 0 4px 24px 0 rgba(34, 34, 34, 0.06);
  border-radius: 2px;
  max-width: 590px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.information__module-title {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
.information__module-text {
  font-size: 16px;
  font-weight: 400;
  max-width: 554px;
  width: 100%;
  text-align: left;
  line-height: 140%;
}
.information__module-aсcent {
  color: #4DD2A3;
}

* {
  font-family: "Inter", sans-serif;
  color: #222222;
}

.container {
  max-width: 1290px;
  padding: 0 5px;
  margin: 0 auto;
}

.progress {
  width: 162px;
  height: 2px;
  background-color: rgba(126, 134, 154, 0.3);
  position: relative;
  z-index: 1;
}
.progress__program:after {
  content: "";
  z-index: 2;
  position: absolute;
  left: 0;
  width: 18px;
  height: 2px;
  background-color: #FF0002;
}
.progress__route:after {
  content: "";
  z-index: 2;
  position: absolute;
  left: 0;
  width: 36px;
  height: 2px;
  background-color: #FF0002;
}
.progress__gallery:after {
  content: "";
  z-index: 2;
  position: absolute;
  left: 0;
  width: 54px;
  height: 2px;
  background-color: #FF0002;
}
.progress__schedule:after {
  content: "";
  z-index: 2;
  position: absolute;
  left: 0;
  width: 72px;
  height: 2px;
  background-color: #FF0002;
}
.progress__price:after {
  content: "";
  z-index: 2;
  position: absolute;
  left: 0;
  width: 90px;
  height: 2px;
  background-color: #FF0002;
}
.progress__choice:after {
  content: "";
  z-index: 2;
  position: absolute;
  left: 0;
  width: 108px;
  height: 2px;
  background-color: #FF0002;
}
.progress__information:after {
  content: "";
  z-index: 2;
  position: absolute;
  left: 0;
  width: 126px;
  height: 2px;
  background-color: #FF0002;
}

.section__title {
  font-size: 24px;
  font-weight: 600;
}

/*# sourceMappingURL=index.css.map */
