@import "./settings/colors";
@import "./settings/mixins";
@import "./settings/fonts";

.reviews {
  margin-top: 162px;

  &__content {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__image {
    margin: 0 auto;
  }
}